<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="contaner">
        <form action="/auth/login" method="POST">
            <label for="user">Логин</label>
            <input type="text" name="user" placeholder="Введите имя пользователя" value="{{user}}">
            <label for="password">Пароль</label>
            <input type="password" name="password">
            <button type="submit">Войти</button>
            <label for="save">Запомнить меня</label>
            <input name="save" type="radio">
        </form>
        <form action="/auth/login/yandex" method="get">
            <button type="submit">Войти через яндекс</button>
        </form>
    </div>
</body>
</html>