<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/auth/signup/" method="POST">
            <label for="user">Логин</label>
            <input type="text" name="user" placeholder="Введите имя пользователя">
            <label for="email">Почта</label>
            <input type="email" name="email" placeholder="Ваша почта">
            <label for="password">Пароль</label>
            <input type="password" name="password">
            <button type="submit">Зарегистрироваться</button>
            <label for="save">Запомнить меня</label>
            <input name="save" type="radio">
        </form>
    </div>
</body>
</html>